/*------------------------------- MEDIA QUERIES -------------------------------*/


@media screen and (max-width: 1000px) { 

    #grad3 {height: 850px;}
    
}

@media screen and (max-width: 900px) { 

    #grad3 {height: 900px;}
}

/*-----TABLET & SMARTPHONE-------*/

@media (max-width: 768px) {
    
    #grad3 {height: 950px;}
}


